/*@font-face {
    font-family: "Halyard Display";
	src: url("../fonts/Halyard-Display-Book.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
    font-family: "Halyard Display";
	src: url("../fonts/Halyard-Display-Light.ttf") format("truetype");
	font-weight: 200;
	font-style: normal;
}
@font-face {
    font-family: "Halyard Display";
	src: url("../fonts/Halyard-Display-Medium.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}*/
/* Capitolium2 is imported from adobe in the head - capitolium-2, serif */
/* Source sans 300, 400 and 700 are imported in the head */